{% if settings.header_sticky %}
  <script>
    $(document).ready(function(){
    $('.slideshow-main').addClass('sticky-slideshow');
        $('#shopify-section-header > div').addClass('sticky-header logo-change');
      });
    function sticky_relocate() {
      var window_top = $(window).scrollTop();
      if($('#sticky-anchor').length) {
        var div_top = $('#sticky-anchor').offset().top;
      } else {
        var div_top = 5;
      }
      if (window_top > div_top) {
        // $('.slideshow-main').addClass('sticky-slideshow');
        // $('#shopify-section-header > div').addClass('sticky-header logo-change');
        $('#shopify-section-collection-template .Collection-page-container').addClass('gapLeft');
        $('.pdp-gapLeft').addClass('boxed-gapLeft');
        $('.sticky-page-gapLeft').addClass('page-gapLeft');
        //$('.brands-love').addClass('gapLeft');
      } else {
        // $('.slideshow-main').removeClass('sticky-slideshow');
        // $('#shopify-section-header > div').removeClass('sticky-header logo-change');
        $('#shopify-section-collection-template .Collection-page-container').removeClass('gapLeft');
        $('.pdp-gapLeft').removeClass('boxed-gapLeft');
        $('.sticky-page-gapLeft').removeClass('page-gapLeft');
        //$('.brands-love').addClass('gapLeft');
      }
    }

    $(window).load(function() {
      $('#shopify-section-header').height($('#shopify-section-header').outerHeight());
      $(window).scroll(sticky_relocate);
      sticky_relocate();
    });

    $(document).ready(function(){
      $('#review-btn').click(function() {
        $('html, body').animate({
          scrollTop: $("#main-review-sec").offset().top - 150
        }, 1000)
      });
    });
  </script>
{% endif %}

{% if settings.header_overlay %}
  {% if template contains 'index'%}
    <script>
      function transparentToggle() {
        var window_top = $(window).scrollTop();
        var div_top = $('#MainContent > div:nth-child(2)').offset().top - $('#container-header').outerHeight();
        if (window_top > div_top) {
          $('#container-header').removeClass('transparentTop');
        } else {
          $('#container-header').addClass('transparentTop');
        }
      }

      $(document).ready(function(){
        if($('.hidden-sm-down').is(':visible')) {
          $('#PageContainer').css('margin-top','-'+$('#container-header').outerHeight()+'px')
          $(window).scroll(function(){
            transparentToggle();
          });
          transparentToggle();
        }
      });
    </script>
  {% endif %}
{% endif %}

<div data-section-type="header-section" id="header-container" class="{% if settings.header_overlay %}homepageoverlay{% endif %}">
  {% if settings.align_menu == 'below' %}
  <div id="header-centered">
    {% include 'header-row_top--no_menu' %}
    <nav class="nav-below d-none d-md-block text-{{ settings.align_menu_text }}" id="AccessibleNav" role="navigation">
      {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
    </nav>
  </div>
  {% else %}
    {% include 'header-row_top--w_menu' %}
  {% endif %}
</div>

<style>
  {% if settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ settings.logo_max_width }}px;
    }
  {% endif %}

  {% if settings.align_logo == 'left' %}
    .site-header__logo-image {
      margin: 0;
    }
  {% endif %}
</style>
<div id="sticky-anchor"></div>