<!-- {% section 'page-template' %} -->
<div class="collection-by-solution">
    <div class="container-fluid Collection-page-container" id="Collection">
        <header class="collection-header">
            <div class="custom-page-heading">
                <div class="section-header collection-page-header text-left">
                    <h1 data-aos="zoom-in-up" class="aos-init aos-animate">by solution_</h1>
                    <div class="rte aos-init aos-animate" data-aos="fade-up">
                        Epelictatem quam quo ommolorem quamend eliquas aut doluptia sequam id que venimol
uptaece rovitaest elluptas ex et eum harupta nissinturion rem. Et quas debitis vel illo
moluptiam hpos nonectarum endipsa eceatiae mod eos nos secti sequam.
                    </div>
                </div>
                <ul class="pdp-top-links aos-init aos-animate" data-aos="flip-down">
                    <li><a href="">A</a></li>
                    <li><a href="">B</a></li>
                    <li><a href="">C</a></li>
                    <li><a href="">D</a></li>
                    <li><a href="">E</a></li>
                    <li><a href="">F</a></li>
                    <li><a href="">G</a></li>
                    <li><a href="">H</a></li>
                    <li><a href="">I</a></li>
                    <li><a href="">J</a></li>
                    <li><a href="">K</a></li>
                    <li><a href="">L</a></li>
                    <li><a href="">M</a></li>
                    <li><a href="">N</a></li>
                    <li><a href="">O</a></li>
                    <li><a href="">P</a></li>
                    <li><a href="">Q</a></li>
                    <li><a href="">R</a></li>
                    <li><a href="">S</a></li>
                    <li><a href="">T</a></li>
                    <li><a href="">U</a></li>
                    <li><a href="">V</a></li>
                    <li><a href="">W</a></li>
                    <li><a href="">X</a></li>
                    <li><a href="">Y</a></li>
                    <li><a href="">Z</a></li>
                    <li><a href="">All</a></li>
                </ul>
            </div>
        </header>
        <div class="breadcrums-bar">
            <div class="breadcrumbs">
              <div class="container">
                <div class="row">
                  <nav class="breadcrumb col" role="navigation" aria-label="breadcrumbs">
                    <a href="/" title="Home">_SHOP</a>
                      <span aria-hidden="true" style="font-weight: 300; font-style: italic;"> / by SOLUTION / </span>
                      <span>ALL</span>
                  </nav>
                </div>
              </div>
            </div>
        </div>
        <div class="by-solution-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-15 list-block">
                        <h3>A</h3>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoren doren </a></li>
                            <li><a href="">Atur Adi que cus</a></li>
                            <li><a href="" class="active">Aeque Ausapident </a> </li>
                            <li><a href="">Aptaerio</a></li>
                            <li><a href="">Asita que dolupta</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aelic tem reiur</a></li>
                            <li><a href="">Asitae nihicaesequo</a></li>
                            <li><a href="">Amagnatem</a></li>
                            <li><a href="">Aaliam faces</a></li>
                            <li><a href="">Asantiatet repelisEstota</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoloria eraecep elenihi</a> </li>
                            <li><a href="">Agnatibea cus re pe molo</a></li>
                            <li><a href="">Aonseru ntionseque</a></li>
                            <li><a href="">Aum ut as et eos ni </a></li>
                            <li><a href="">Asediost parum</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <h3>B</h3>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoren doren </a></li>
                            <li><a href="">Atur Adi que cus</a></li>
                            <li><a href="">Aeque Ausapident </a> </li>
                            <li><a href="">Aptaerio</a></li>
                            <li><a href="">Asita que dolupta</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aelic tem reiur</a></li>
                            <li><a href="">Asitae nihicaesequo</a></li>
                            <li><a href="">Amagnatem</a></li>
                            <li><a href="">Aaliam faces</a></li>
                            <li><a href="">Asantiatet repelisEstota</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoloria eraecep elenihi</a> </li>
                            <li><a href="">Agnatibea cus re pe molo</a></li>
                            <li><a href="">Aonseru ntionseque</a></li>
                            <li><a href="">Aum ut as et eos ni </a></li>
                            <li><a href="">Asediost parum</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <h3>C</h3>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoren doren </a></li>
                            <li><a href="">Atur Adi que cus</a></li>
                            <li><a href="">Aeque Ausapident </a> </li>
                            <li><a href="">Aptaerio</a></li>
                            <li><a href="">Asita que dolupta</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aelic tem reiur</a></li>
                            <li><a href="">Asitae nihicaesequo</a></li>
                            <li><a href="">Amagnatem</a></li>
                            <li><a href="">Aaliam faces</a></li>
                            <li><a href="">Asantiatet repelisEstota</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoloria eraecep elenihi</a> </li>
                            <li><a href="">Agnatibea cus re pe molo</a></li>
                            <li><a href="">Aonseru ntionseque</a></li>
                            <li><a href="">Aum ut as et eos ni </a></li>
                            <li><a href="">Asediost parum</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <h3>D</h3>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoren doren </a></li>
                            <li><a href="">Atur Adi que cus</a></li>
                            <li><a href="">Aeque Ausapident </a> </li>
                            <li><a href="">Aptaerio</a></li>
                            <li><a href="">Asita que dolupta</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aelic tem reiur</a></li>
                            <li><a href="">Asitae nihicaesequo</a></li>
                            <li><a href="">Amagnatem</a></li>
                            <li><a href="">Aaliam faces</a></li>
                            <li><a href="">Asantiatet repelisEstota</a></li>
                        </ul>
                    </div>
                    <div class="col-md-15 list-block">
                        <ul>
                            <li><a href="">Aoloria eraecep elenihi</a> </li>
                            <li><a href="">Agnatibea cus re pe molo</a></li>
                            <li><a href="">Aonseru ntionseque</a></li>
                            <li><a href="">Aum ut as et eos ni </a></li>
                            <li><a href="">Asediost parum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
