{% section 'slideshow-connection' %}

<div class="shopify-section index-section home-top-news">
    <div class="container no-padding">
        <div class="connection-news home-topnews">
            <div class="section-header">
                <h2>_NEW <em>+</em> NOW</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 d-none d-md-block"></div>
                <div class="col-lg-54 col-60">
                    <div class="row">
                        <div class="col-md-20">
                            <div class="top-news-content home-news-section topnews-slider">
                                <div class="row">
                                    <div class="col-sm-30">
                                        <div class="news-image" style="background-image:url('//cdn.shopify.com/s/files/1/0363/6704/0647/files/topmews.png?v=1585305441');"></div>
                                    </div>
                                    <div class="col-sm-30">
                                        <div class="news-content">
                                            <h2>MagnaReady</h2>
                                            <p>on <em>Today Show</em> with Kathy Lee and Hoda.</p>
                                            <a href="#" tabindex="-1">READ MORE ABOUT MAGNAREADY</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-20">
                            <div class="top-news-content home-news-section">
                                <div class="row">
                                    <div class="col-sm-30">
                                        <div class="news-image" style="background-image:url('//cdn.shopify.com/s/files/1/0363/6704/0647/files/topmews.png?v=1585305441');"></div>
                                    </div>
                                    <div class="col-sm-30">
                                        <div class="news-content">
                                            <h2>MagnaReady</h2>
                                            <p>on <em>Today Show</em> with Kathy Lee and Hoda.</p>
                                            <a href="#" tabindex="-1">READ MORE ABOUT MAGNAREADY</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-20">
                            <div class="top-news-content home-news-section">
                                <div class="row">
                                    <div class="col-sm-30">
                                        <div class="news-image" style="background-image:url('//cdn.shopify.com/s/files/1/0363/6704/0647/files/topmews.png?v=1585305441');"></div>
                                    </div>
                                    <div class="col-sm-30">
                                        <div class="news-content">
                                            <h2>MagnaReady</h2>
                                            <p>on <em>Today Show</em> with Kathy Lee and Hoda.</p>
                                            <a href="#" tabindex="-1">READ MORE ABOUT MAGNAREADY</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="connection-explore explore-with">
    <div class="section-header">
        <div class="container">
            <h2></h2>
            <h2>_FEATURED <em>brand</em> MagnaReady</h2>
              
        </div>
    </div>
    <div class="explore-content container-fluid">
        <div class="row">
            <div class="col-lg-8 d-none d-xl-block"></div>
            <div class="col-sm-30 col-md-25 col-xl-21 pr-sm-0">
                <div class="connect-image">
                    <div class="row">
                        <div class="col-md-40">
                            <div class="img1" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/00horton3-superJumbo.jpg?v=1585992647);">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-30">
                            <div class="img1-text">
                                <h4>Joe Horton</h4>
                                <p>North Caroline State</p>
                                <p>University coach</p>
                            </div>
                        </div>
                    </div>
                    <div class="coach-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/00horton6-jumbo.png?v=1585992656);">
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-45">
                            <div class="coach-img-detail">
                                <h2>Meet Maura Horton,
                                    founder of MagnaReady</h2>
                                <p>Inspired by her husband’s struggle to button
                                    his shirt as a result of Parkinson’s,
                                    Maura Horton came up with the brilliant
                                    idea to magnetically infuse the buttons on his
                                    shirts, creating a product that could restore
                                    order to his daily routine and confidence.
                                    </p>
                                <a href="" class=""> Explore the brand now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="explore-heading">
                    <h1>technology</h1><br><h1>unlimited</h1>
                </div>
            </div>
            <div class="col-sm-30 col-md-35 col-xl-31 pr-xl-0">
                <div class="explore-image explore-image2" style="background-image:url('https://cdn.shopify.com/s/files/1/0363/6704/0647/files/MauraHorton.jpg?v=1585992638')">
                
                </div>
            </div>
            <div class="col-md-60">
                <div class="row">
                    <div class="col-md-20 col-xs-60">
                        <div class="product-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/product01.png?v=1585997611);"></div>
                    </div>
                    <div class="col-md-20 col-xs-60">
                        <div class="product-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/product02.png?v=1585997628);"></div>
                    </div>
                    <div class="col-md-20 col-xs-60">
                        <div class="product-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/product03.png?v=1585997641);"></div>
                    </div>
                    <div class="col-md-13"></div>
                    <div class="col-md-34">
                        <div class="quote">
                            <h1 class="text-left">“</h1>
                            <h2 class="text-right">Honoring him (her husband) is the best thing</h2>
                            <h2 class="text-right">I can do in this world” <span>maura horton</span></h2>
                            <h1 class="text-right">“</h1>
                        </div>
                    </div>
                    <div class="col-md-13"></div>
                    <div class="col-md-9"></div>
                    <div class="col-sm-30 col-md-21">
                        <div class="discover">
                            <a href="#">shop MagnaReady</a>
                        </div>
                    </div>
                    <div class="col-sm-30 col-md-21">
                        <div class="explore-image explore-image3">
                            <iframe width="100%" height="450" src="https://www.youtube.com/embed/yAoLSRbwxL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="connect-brand brands-love">
    <div class="section-header">
      <div class="container">
          <h2>
          _BRANDS <em>we</em> LOVE
          </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-30 no-padding">
        <a href="" class="brands-love-block block-1" style="background-image: url('https://cdn.shopify.com/s/files/1/0363/6704/0647/files/b_0d129afe-a20a-44cc-95bc-6ece2.jpg?v=1586000581')"></a>
      </div>
      <div class="col-md-30 no-padding">
        <a href="" class="brands-love-block block-2"></a>
      </div>
    </div>
    <a href="" class="btn btn-primary view-brands">view all brands</a>
  </div>

  <div class="connection-events">
    <div class="section-header">
        <div class="container">
            <h2>
                _JUNIPER<em>unltd.</em> EVENTS
            </h2>
        </div>
    </div>
    <div class="connection-events-detial">
        <div class="month">April</div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">01</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">06</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">12</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">01</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">06</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-16">
                <div class="connect-grid">
                    <div class="connect-grid-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/37b2ed68c8_b7846495-817a-467b-8bbf-ce4f85f64bfa.jpg?v=1586003925);"></div>
                    <div class="connect-grid-txt">
                        <h3> XBox </h3>
                        <br>
                        <h3>Controller</h3>
                    </div>
                    <div class="connect-grid-date">12</div>
                    <div class="connect-grid-detail">
                        <h2>Dominick Evans</h2>
                        <p>“I play laying down, so the challenge
                            for me is always finding the right
                            place to mount the controller.”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
  </div>