<div class="custom-blog-template">
{% section 'slideshow-life-unltd' %}
{% section 'blog-landing-articler' %}
{% section 'blog-lander-archive' %}
{% section 'blog-lader-explore' %}
</div>

<script>
    //$('body').addClass('menu-leftside');
</script>